{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
	<div class="container-fluid">
		<div class="row">		
			<div class="col-md-3">
			<div class="card">
				<div class="tab-moivie">
					<a href="{{path("app_home_settings")}}" class="btn btn-tab-movie col-md-12"><i class="material-icons">settings</i> Settings</a>
					<a href="{{path("app_home_ads")}}" class="btn btn-tab-movie col-md-12"><i class="material-icons">monetization_on</i> Ads Settings</a>
					<a href="{{path("fos_user_change_password")}}" class="btn btn-tab-movie-active col-md-12"><i class="material-icons">lock</i> Change password</a>
				</div>
			</div>
		</div>
		<div class="col-sm-9">
			<div class="card ">
				<div class="card-header card-header-icon" data-background-color="rose">
					<i class="material-icons">lock</i>
				</div>
				<div class="card-content">
					<h4 class="card-title">Change Password</h4>
					<br>
					{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
					<div class="form-group label-floating is-empty">
						{{form_label(form.current_password)}}
						{{ form_widget(form.current_password,{attr:{"class":"form-control"}})}}
						{{ form_errors(form.current_password)}}
					</div>
					<div class="form-group label-floating is-empty">
						{{form_label(form.new.first)}}
						{{ form_widget(form.new.first,{attr:{"class":"form-control"}})}}
						{{ form_errors(form.new.first)}}
					</div>
					<div class="form-group label-floating is-empty">
						{{form_label(form.new.second)}}
						{{ form_widget(form.new.second,{attr:{"class":"form-control"}})}}
						{{ form_errors(form.new.second)}}
					</div>
					<button  class="btn btn-raised btn-primary pull-right">{{ 'Change password'|trans }}</button>
					{{ form_end(form) }}
					
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}