{% extends "AppBundle::layout.html.twig" %}
{% block body%}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					<a href="{{path("app_category_index")}}" class="btn  btn-lg btn-warning col-md-12"><i class="material-icons" style="font-size: 30px;">refresh</i> Refresh</a>
				</div>
				<div class="col-md-4">
					<a class="btn btn btn-lg btn-yellow col-md-12"><i class="material-icons" style="font-size: 30px;">queue_music</i> {{categories|length}} categories</a>
				</div>
				<div class="col-md-4">
					<a href="{{path("app_category_add")}}" class="btn btn-rose btn-lg pull-right add-button col-md-12" title=""><i class="material-icons" style="font-size: 30px;">add_box</i> NEW CATEGORY </a>
				</div>
			</div>
				<div class="row">
					{% for category in categories %}
						<div class="col-md-4">
							<div class="card">
								<div class="card-content" style="text-align: center;height: 250px;    padding: 0px;">
									<img src="{{asset(category.media.link)|imagine_filter('category_thumb')}}" style="width:100px;height:100px;border-radius: 0px;position: absolute;height: 100%;width: 100%;left: 0px;" >
									<br>
									<span class="label-lang">{{category.category}}</span>
								</div>
								<div class="card-footer" style="    text-align: center;">
									<a href="{{path("app_category_edit",{"id":category.id})}}" rel="tooltip" data-placement="left" class=" btn btn-primary btn-xs btn-round" data-original-title="Edit">
										<i class="material-icons">edit</i>
									</a>
									<a href="{{path("app_category_delete",{"id":category.id})}}" rel="tooltip" data-placement="left" class=" btn btn-danger btn-xs btn-round" data-original-title="Delete">
										<i class="material-icons">delete</i>
									</a>
									<a href="{{path("app_home_notif_category",{"id":category.id})}}" rel="tooltip" data-placement="left" class=" btn btn-danger btn-xs btn-round" data-original-title="Delete">
										<i class="material-icons">notifications</i>
									</a>
									<a href="{{path("app_category_up",{"id":category.id})}}" rel="tooltip" data-placement="left" class=" btn btn-info btn-xs btn-round" data-original-title="Up">
										<i class="material-icons">keyboard_arrow_up</i>
									</a>
									<a href="{{path("app_category_down",{"id":category.id})}}" rel="tooltip" data-placement="left" class=" btn btn-info btn-xs btn-round" data-original-title="Down">
										<i class="material-icons">keyboard_arrow_down</i>
									</a>
								</div>
							</div>
						</div>
					{% else %}
						<div class="col-md-12">
							<div class="card">
								<div class="card-content">
									<br>
									<br>
									<center><img src="{{asset("img/bg_empty.png")}}"  style="width: auto !important;" =""></center>
									<br>
									<br>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				
			</div>
		</div>
		
	{% endblock%}